<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart</title>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['annotationchart', 'gauge']});
        google.charts.setOnLoadCallback(drawChart1);
        google.charts.setOnLoadCallback(drawChart2);
        google.charts.setOnLoadCallback(drawGauge1);
        google.charts.setOnLoadCallback(drawGauge2);

        function drawChart1() {

            var data = new google.visualization.arrayToDataTable({{ temp_data|safe|cut:"'"}});
            var chart = new google.visualization.AnnotationChart(document.getElementById('temp'));

            var options = {
                displayAnnotations: false,
                displayZoomButtons: false,
                colors: ['blue'],
                min: 50,
                max: 90,
            }
            chart.draw(data, options);
        }

        function drawChart2() {

            var data = new google.visualization.arrayToDataTable({{ humid_data|safe|cut:"'"}});
            var chart = new google.visualization.AnnotationChart(document.getElementById('humid'));

            var options = {
                displayAnnotations: false,
                displayZoomButtons: false,
                colors: ['red'],
                min: 0,
                max: 100,
            }
            chart.draw(data, options);
        }

        function drawGauge1() {

            var data = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['Temp', {{vals.temp}}],
            ]);
            var chart = new google.visualization.Gauge(document.getElementById('temp_g'));

            var options = {
                yellowFrom: 60,
                yellowTo: {{vals.temp_low}},
                greenFrom: {{vals.temp_low}},
                greenTo: {{vals.temp_high}},
                redFrom: {{vals.temp_high}},
                redTo: 100,
                min: 60,
                max: 100,
            }
            chart.draw(data, options);
        }

        function drawGauge2() {

            var data = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['Humid', {{ vals.humid}}],
            ]);
            var chart = new google.visualization.Gauge(document.getElementById('humid_g'));

            var options = {
                yellowFrom: 0,
                yellowTo: {{vals.humid_low}},
                greenFrom: {{vals.humid_low}},
                greenTo: {{vals.humid_high}},
                redFrom: {{vals.humid_high}},
                redTo: 100,
                min: 0,
                max: 100,
            }
            chart.draw(data, options);
        }

    </script>

</head>
<body>
    <table>
        <tr>
            <td><div id="temp_g" /></td>
            <td><div id="humid_g"/></td>
            <td><b>{{vals.instant}}<br>Temp: {{vals.temp}}<br>Humid: {{vals.humid}}</b></td>
            <td>Light State: {{vals.light_state}}<br>Temp State: {{vals.temp_state}}<br>Humid State: {{vals.humid_state}}</td>
            <td>Light Bounds: {{vals.hour_morning}} - {{vals.hour_night}}<br>Temp Bounds: {{vals.temp_low}} - {{vals.temp_high}}<br>Humid Bounds: {{vals.humid_low}} - {{vals.humid_high}}</td>
        </tr>
    </table>
    <table>
        <tr>
            <td><div id="temp" style="width:1800px; height:350px;"/></td>
        </tr>
        <tr>
            <td><div id="humid" style="width:1800px; height:350px;"/></td>
        </tr>
    </table>
</body>
</html>